* {
    font-family: 'Times New Roman', serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f9f7f5;
  }

.about-container {
    color: #4a3728;
    padding: 2rem 16rem;
    font-family: 'Times New Roman', serif;
}

.about-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #4a3728;
}

.about-headers {
    color:black;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom:20px;
}

.right-side {
    text-align: right;
}

.left-side {
    text-align: left;
}

p{
    color: black;
    max-width: 400px;
    font-size: 1em;
}
.ovalButton {
    color:#F9F6F1;
    border-radius: 50px;
    background-color: #573A30;
    padding: 10px 20px;
    font-weight: bold;
    align-content: right;
}

.ovalButton:hover {
    background-color: #483229;
}

#buttonAlignment{
    text-align: right;
    margin: 30px;
}


.Container{
    display: flex;
    align-items: center;
    gap: 20px;
}

.imagePlaceholder {
    width: 400px;
    height: 400px;
}
.top{
    margin-right:auto;
}
.bottom{
    margin-left:auto;
}

.close {
    margin-bottom: auto;
}
.test{
    display:flex;
}
